.challengeBoxContainer {
    height: 100%;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 410px;
    margin: 0 auto;
    padding: 3rem 0;
}

.challengeNotActive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challengeNotActive strong {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
    margin: 2rem;
}

.challengeNotActive p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;
}

.challengeNotActive p img{
    margin-bottom: 1rem;
    width: 20%;
}

.challengeNotActive p span {
    text-align: left;
    margin-left: 1.5rem;
}


.challengeActive {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.challengeActive header {
    color: var(--blue);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid var(--gray-line);
    margin: 1.5rem 2rem 0;
}

.challengeActive main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
}

.challengeActive main strong {
    font-weight: 600;
    font-size: 2rem;
    color: var(--title);
    margin: 1.5rem 0 1rem;
}

.challengeActive main p {
    line-height: 1.5;
}

.challengeActive footer {
    display: flex;
    height: 5rem;
}

.challengeActive footer button{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.4s;
    border-top: 1px solid var(--gray-line);
}

.challengeActive footer button.challengeFailedButton {
    background: #FFF5F5;
    color: var(--red);
    border-right: 1px solid var(--gray-line);
}

.challengeActive footer button.challengeFailedButton:hover {
    background: var(--red);
    color: var(--white);
}

.challengeActive footer button.challengeSuccedButton {
    background: #F7FFF5;
    color: var(--green);
}

.challengeActive footer button.challengeSuccedButton:hover {
    background: var(--green);
    color: var(--white);
}